body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.background {
  height: 500vh;
    background-color: #334155;
  color: #fbbf24; 
}

.scrollable-div {
  height: 75vh; 
  overflow-y: auto;
}

.half-scrollable-div {
  height: 50vh; 
  overflow-y: auto;
}

.quarter-scrollable-div {
  height: 25vh; 
  overflow-y: auto;
}

.table {
  width: 25vh
}

.formBackground {
  background-color: #202529;
}